@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-header);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(12, 141, 192, 0.2);
  }
}

/* forms */

select {
  background-color: var(--color-background);
  border-radius: 0.6em;
  border: solid var(--color-text) 0.15em;
  color: var(--color-text);
  font-weight: bolder;
  padding: 0.5em;
  width: fit-content;
  font-size: 1em;
}

.button {
  background-color: var(--color-text);
  border-radius: 0.6em;
  border: none;
  color: var(--color-background);
  font-weight: bolder;
  padding: 0.5em;
  width: fit-content;
  font-size: 1em;
}

.button:hover {
  scale: 103%;
  background-color: var(--color-header);
}

.text-input {
  background-color: var(--color-background);
  border-radius: 0.6em;
  border: solid var(--color-text) 0.15em;
  color: var(--color-text);
  font-weight: bolder;
  padding: 0.5em;
  font-size: 1em;
}

.text-input:focus {
  background-color: var(--color-text);
  color: var(--color-background);
}

.file-input {
  color: var(--color-text);
  background-color: var(--color-background);
  border: solid var(--color-text) 0.15em;
}

.text-input.error,
.file-input.error,
select.error {
  border-color: red;
}

/* tables */

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid var(--color-border);
}

th,
td {
  padding: 0.5em;
}

th {
  background-color: var(--color-border);
  color: var(--color-text);
  font-weight: bold;
}

.sorting-header {
  cursor: pointer;
}

/* other */

#showDeleted {
  margin-right: 0.5em;
  margin-bottom: 1rem;
}

.monospace {
  font-family: 'Iosevka', 'Fira Mono', 'Noto Mono', monospace;
  text-align: right;
}