JWT_SECRET=secret

REPO_TYPE=file

# benchmarker

BENCHMARKER_SERVER="0.0.0.0"
CERTS_DIR=./certs/

DEFAULT_PRIORITY=10
CLIENT_CERTIFICATE="cl_cert"
SERVER_CERTIFICATE="s_cert"
ETA_MEASURE_INTERVAL_MS=500
ETA_MEASURE_INTERVALS=20

REMOTE_CLIENT_QUEUE=64
RESULTS_IN_ORDER=true
ASSUME_DRAW_FOR_EQUAL_AGENTS=false

BENCHMARKER_PORT_CLIENTS=1111

PING_INTERVAL=60000
PING_TIMEOUT=180000

DEBUG_BUFFER=false
DEBUG_LEVEL=3 # 0-3

# ---